.pixel{
    border: 1px solid black;
    float: left;
    padding: 12px;

    
}

#message{

    position: absolute;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 62, 105);
    border: 1px solid black;
    opacity: 0.95;
    width: 260px;
    height:  260px;

}

#message h1{

    border : 1px solid black;
    margin : 1rem;
    width : auto;
    height : 3rem;
    font-size: 2rem;

}

#message #content{

    text-align: center;
    justify-content: center;
    font-size: 5rem;

}
