.pixel{
    border: 1px solid black;
    float: left;
    padding: 12px;

    
}

#message{

    position: absolute;
    margin: auto 0;
    background-color: aqua;
    border: 1px solid black;
    width: 300px;
    height:  250px;

}

#message h1{

    border : 1px solid black;
    margin : 1rem;
    width : auto;
    height : 3rem;


}

#message div{

}
